:root {
  --thin-h1-font-family: "Fira Sans", Helvetica;
  --thin-h1-font-weight: 100;
  --thin-h1-font-size: 36px;
  --thin-h1-letter-spacing: 0px;
  --thin-h1-line-height: 120.00000476837158%;
  --thin-h1-font-style: normal;
  --thin-h2-font-family: "Fira Sans", Helvetica;
  --thin-h2-font-weight: 100;
  --thin-h2-font-size: 32px;
  --thin-h2-letter-spacing: 0px;
  --thin-h2-line-height: 120.00000476837158%;
  --thin-h2-font-style: normal;
  --thin-h3-font-family: "Fira Sans", Helvetica;
  --thin-h3-font-weight: 100;
  --thin-h3-font-size: 29px;
  --thin-h3-letter-spacing: 0px;
  --thin-h3-line-height: 120.00000476837158%;
  --thin-h3-font-style: normal;
  --thin-h4-font-family: "Fira Sans", Helvetica;
  --thin-h4-font-weight: 100;
  --thin-h4-font-size: 26px;
  --thin-h4-letter-spacing: 0px;
  --thin-h4-line-height: 120.00000476837158%;
  --thin-h4-font-style: normal;
  --thin-h5-font-family: "Fira Sans", Helvetica;
  --thin-h5-font-weight: 100;
  --thin-h5-font-size: 23px;
  --thin-h5-letter-spacing: 0px;
  --thin-h5-line-height: 120.00000476837158%;
  --thin-h5-font-style: normal;
  --thin-h6-font-family: "Fira Sans", Helvetica;
  --thin-h6-font-weight: 100;
  --thin-h6-font-size: 20px;
  --thin-h6-letter-spacing: 0px;
  --thin-h6-line-height: 120.00000476837158%;
  --thin-h6-font-style: normal;
  --thin-h7-font-family: "Fira Sans", Helvetica;
  --thin-h7-font-weight: 100;
  --thin-h7-font-size: 18px;
  --thin-h7-letter-spacing: 0px;
  --thin-h7-line-height: 120.00000476837158%;
  --thin-h7-font-style: normal;
  --thin-h8-font-family: "Fira Sans", Helvetica;
  --thin-h8-font-weight: 100;
  --thin-h8-font-size: 16px;
  --thin-h8-letter-spacing: 0px;
  --thin-h8-line-height: 120.00000476837158%;
  --thin-h8-font-style: normal;
  --extra-light-h1-font-family: "Fira Sans", Helvetica;
  --extra-light-h1-font-weight: 200;
  --extra-light-h1-font-size: 36px;
  --extra-light-h1-letter-spacing: 0px;
  --extra-light-h1-line-height: 120.00000476837158%;
  --extra-light-h1-font-style: normal;
  --extra-light-h2-font-family: "Fira Sans", Helvetica;
  --extra-light-h2-font-weight: 200;
  --extra-light-h2-font-size: 32px;
  --extra-light-h2-letter-spacing: 0px;
  --extra-light-h2-line-height: 120.00000476837158%;
  --extra-light-h2-font-style: normal;
  --extra-light-h3-font-family: "Fira Sans", Helvetica;
  --extra-light-h3-font-weight: 200;
  --extra-light-h3-font-size: 29px;
  --extra-light-h3-letter-spacing: 0px;
  --extra-light-h3-line-height: 120.00000476837158%;
  --extra-light-h3-font-style: normal;
  --extra-light-h4-font-family: "Fira Sans", Helvetica;
  --extra-light-h4-font-weight: 200;
  --extra-light-h4-font-size: 26px;
  --extra-light-h4-letter-spacing: 0px;
  --extra-light-h4-line-height: 120.00000476837158%;
  --extra-light-h4-font-style: normal;
  --extra-light-h5-font-family: "Fira Sans", Helvetica;
  --extra-light-h5-font-weight: 200;
  --extra-light-h5-font-size: 23px;
  --extra-light-h5-letter-spacing: 0px;
  --extra-light-h5-line-height: 120.00000476837158%;
  --extra-light-h5-font-style: normal;
  --extra-light-h6-font-family: "Fira Sans", Helvetica;
  --extra-light-h6-font-weight: 200;
  --extra-light-h6-font-size: 20px;
  --extra-light-h6-letter-spacing: 0px;
  --extra-light-h6-line-height: 120.00000476837158%;
  --extra-light-h6-font-style: normal;
  --extra-light-h8-font-family: "Fira Sans", Helvetica;
  --extra-light-h8-font-weight: 200;
  --extra-light-h8-font-size: 16px;
  --extra-light-h8-letter-spacing: 0px;
  --extra-light-h8-line-height: 120.00000476837158%;
  --extra-light-h8-font-style: normal;
  --light-h1-font-family: "Fira Sans", Helvetica;
  --light-h1-font-weight: 300;
  --light-h1-font-size: 36px;
  --light-h1-letter-spacing: 0px;
  --light-h1-line-height: 120.00000476837158%;
  --light-h1-font-style: normal;
  --light-h2-font-family: "Fira Sans", Helvetica;
  --light-h2-font-weight: 300;
  --light-h2-font-size: 32px;
  --light-h2-letter-spacing: 0px;
  --light-h2-line-height: 120.00000476837158%;
  --light-h2-font-style: normal;
  --light-h3-font-family: "Fira Sans", Helvetica;
  --light-h3-font-weight: 300;
  --light-h3-font-size: 29px;
  --light-h3-letter-spacing: 0px;
  --light-h3-line-height: 120.00000476837158%;
  --light-h3-font-style: normal;
  --light-h4-font-family: "Fira Sans", Helvetica;
  --light-h4-font-weight: 300;
  --light-h4-font-size: 26px;
  --light-h4-letter-spacing: 0px;
  --light-h4-line-height: 120.00000476837158%;
  --light-h4-font-style: normal;
  --light-h5-font-family: "Fira Sans", Helvetica;
  --light-h5-font-weight: 300;
  --light-h5-font-size: 23px;
  --light-h5-letter-spacing: 0px;
  --light-h5-line-height: 120.00000476837158%;
  --light-h5-font-style: normal;
  --light-h6-font-family: "Fira Sans", Helvetica;
  --light-h6-font-weight: 300;
  --light-h6-font-size: 20px;
  --light-h6-letter-spacing: 0px;
  --light-h6-line-height: 120.00000476837158%;
  --light-h6-font-style: normal;
  --light-h7-font-family: "Fira Sans", Helvetica;
  --light-h7-font-weight: 300;
  --light-h7-font-size: 18px;
  --light-h7-letter-spacing: 0px;
  --light-h7-line-height: 120.00000476837158%;
  --light-h7-font-style: normal;
  --light-h8-font-family: "Fira Sans", Helvetica;
  --light-h8-font-weight: 300;
  --light-h8-font-size: 16px;
  --light-h8-letter-spacing: 0px;
  --light-h8-line-height: 120.00000476837158%;
  --light-h8-font-style: normal;
  --regular-h1-font-family: "Fira Sans", Helvetica;
  --regular-h1-font-weight: 400;
  --regular-h1-font-size: 36px;
  --regular-h1-letter-spacing: 0px;
  --regular-h1-line-height: 120.00000476837158%;
  --regular-h1-font-style: normal;
  --regular-h2-font-family: "Fira Sans", Helvetica;
  --regular-h2-font-weight: 400;
  --regular-h2-font-size: 32px;
  --regular-h2-letter-spacing: 0px;
  --regular-h2-line-height: 120.00000476837158%;
  --regular-h2-font-style: normal;
  --regular-h3-font-family: "Fira Sans", Helvetica;
  --regular-h3-font-weight: 400;
  --regular-h3-font-size: 29px;
  --regular-h3-letter-spacing: 0px;
  --regular-h3-line-height: 120.00000476837158%;
  --regular-h3-font-style: normal;
  --regular-h4-font-family: "Fira Sans", Helvetica;
  --regular-h4-font-weight: 400;
  --regular-h4-font-size: 26px;
  --regular-h4-letter-spacing: 0px;
  --regular-h4-line-height: 120.00000476837158%;
  --regular-h4-font-style: normal;
  --regular-h5-font-family: "Fira Sans", Helvetica;
  --regular-h5-font-weight: 400;
  --regular-h5-font-size: 23px;
  --regular-h5-letter-spacing: 0px;
  --regular-h5-line-height: 120.00000476837158%;
  --regular-h5-font-style: normal;
  --regular-h6-font-family: "Fira Sans", Helvetica;
  --regular-h6-font-weight: 400;
  --regular-h6-font-size: 20px;
  --regular-h6-letter-spacing: 0px;
  --regular-h6-line-height: 120.00000476837158%;
  --regular-h6-font-style: normal;
  --regular-h7-font-family: "Fira Sans", Helvetica;
  --regular-h7-font-weight: 400;
  --regular-h7-font-size: 18px;
  --regular-h7-letter-spacing: 0px;
  --regular-h7-line-height: 120.00000476837158%;
  --regular-h7-font-style: normal;
  --regular-h8-font-family: "Fira Sans", Helvetica;
  --regular-h8-font-weight: 400;
  --regular-h8-font-size: 16px;
  --regular-h8-letter-spacing: 0px;
  --regular-h8-line-height: 120.00000476837158%;
  --regular-h8-font-style: normal;
  --medium-h1-font-family: "Fira Sans", Helvetica;
  --medium-h1-font-weight: 500;
  --medium-h1-font-size: 36px;
  --medium-h1-letter-spacing: 0px;
  --medium-h1-line-height: 120.00000476837158%;
  --medium-h1-font-style: normal;
  --medium-h2-font-family: "Fira Sans", Helvetica;
  --medium-h2-font-weight: 500;
  --medium-h2-font-size: 32px;
  --medium-h2-letter-spacing: 0px;
  --medium-h2-line-height: 120.00000476837158%;
  --medium-h2-font-style: normal;
  --medium-h3-font-family: "Fira Sans", Helvetica;
  --medium-h3-font-weight: 500;
  --medium-h3-font-size: 29px;
  --medium-h3-letter-spacing: 0px;
  --medium-h3-line-height: 120.00000476837158%;
  --medium-h3-font-style: normal;
  --medium-h4-font-family: "Fira Sans", Helvetica;
  --medium-h4-font-weight: 500;
  --medium-h4-font-size: 26px;
  --medium-h4-letter-spacing: 0px;
  --medium-h4-line-height: 120.00000476837158%;
  --medium-h4-font-style: normal;
  --medium-h5-font-family: "Fira Sans", Helvetica;
  --medium-h5-font-weight: 500;
  --medium-h5-font-size: 23px;
  --medium-h5-letter-spacing: 0px;
  --medium-h5-line-height: 120.00000476837158%;
  --medium-h5-font-style: normal;
  --medium-h6-font-family: "Fira Sans", Helvetica;
  --medium-h6-font-weight: 500;
  --medium-h6-font-size: 20px;
  --medium-h6-letter-spacing: 0px;
  --medium-h6-line-height: 120.00000476837158%;
  --medium-h6-font-style: normal;
  --medium-h7-font-family: "Fira Sans", Helvetica;
  --medium-h7-font-weight: 500;
  --medium-h7-font-size: 18px;
  --medium-h7-letter-spacing: 0px;
  --medium-h7-line-height: 120.00000476837158%;
  --medium-h7-font-style: normal;
  --medium-h8-font-family: "Fira Sans", Helvetica;
  --medium-h8-font-weight: 500;
  --medium-h8-font-size: 16px;
  --medium-h8-letter-spacing: 0px;
  --medium-h8-line-height: 120.00000476837158%;
  --medium-h8-font-style: normal;
  --semibold-h1-font-family: "Fira Sans", Helvetica;
  --semibold-h1-font-weight: 600;
  --semibold-h1-font-size: 36px;
  --semibold-h1-letter-spacing: 0px;
  --semibold-h1-line-height: 120.00000476837158%;
  --semibold-h1-font-style: normal;
  --semibold-h2-font-family: "Fira Sans", Helvetica;
  --semibold-h2-font-weight: 600;
  --semibold-h2-font-size: 32px;
  --semibold-h2-letter-spacing: 0px;
  --semibold-h2-line-height: 120.00000476837158%;
  --semibold-h2-font-style: normal;
  --semibold-h3-font-family: "Fira Sans", Helvetica;
  --semibold-h3-font-weight: 600;
  --semibold-h3-font-size: 29px;
  --semibold-h3-letter-spacing: 0px;
  --semibold-h3-line-height: 120.00000476837158%;
  --semibold-h3-font-style: normal;
  --semibold-h4-font-family: "Fira Sans", Helvetica;
  --semibold-h4-font-weight: 600;
  --semibold-h4-font-size: 26px;
  --semibold-h4-letter-spacing: 0px;
  --semibold-h4-line-height: 120.00000476837158%;
  --semibold-h4-font-style: normal;
  --semibold-h5-font-family: "Fira Sans", Helvetica;
  --semibold-h5-font-weight: 600;
  --semibold-h5-font-size: 23px;
  --semibold-h5-letter-spacing: 0px;
  --semibold-h5-line-height: 120.00000476837158%;
  --semibold-h5-font-style: normal;
  --semibold-h6-font-family: "Fira Sans", Helvetica;
  --semibold-h6-font-weight: 600;
  --semibold-h6-font-size: 20px;
  --semibold-h6-letter-spacing: 0px;
  --semibold-h6-line-height: 120.00000476837158%;
  --semibold-h6-font-style: normal;
  --semibold-h7-font-family: "Fira Sans", Helvetica;
  --semibold-h7-font-weight: 600;
  --semibold-h7-font-size: 18px;
  --semibold-h7-letter-spacing: 0px;
  --semibold-h7-line-height: 120.00000476837158%;
  --semibold-h7-font-style: normal;
  --semibold-h8-font-family: "Fira Sans", Helvetica;
  --semibold-h8-font-weight: 600;
  --semibold-h8-font-size: 16px;
  --semibold-h8-letter-spacing: 0px;
  --semibold-h8-line-height: 120.00000476837158%;
  --semibold-h8-font-style: normal;
  --bold-h1-font-family: "Fira Sans", Helvetica;
  --bold-h1-font-weight: 700;
  --bold-h1-font-size: 36px;
  --bold-h1-letter-spacing: 0px;
  --bold-h1-line-height: 120.00000476837158%;
  --bold-h1-font-style: normal;
  --bold-h2-font-family: "Fira Sans", Helvetica;
  --bold-h2-font-weight: 700;
  --bold-h2-font-size: 32px;
  --bold-h2-letter-spacing: 0px;
  --bold-h2-line-height: 120.00000476837158%;
  --bold-h2-font-style: normal;
  --bold-h3-font-family: "Fira Sans", Helvetica;
  --bold-h3-font-weight: 700;
  --bold-h3-font-size: 29px;
  --bold-h3-letter-spacing: 0px;
  --bold-h3-line-height: 120.00000476837158%;
  --bold-h3-font-style: normal;
  --bold-h4-font-family: "Fira Sans", Helvetica;
  --bold-h4-font-weight: 700;
  --bold-h4-font-size: 26px;
  --bold-h4-letter-spacing: 0px;
  --bold-h4-line-height: 120.00000476837158%;
  --bold-h4-font-style: normal;
  --bold-h5-font-family: "Fira Sans", Helvetica;
  --bold-h5-font-weight: 700;
  --bold-h5-font-size: 23px;
  --bold-h5-letter-spacing: 0px;
  --bold-h5-line-height: 120.00000476837158%;
  --bold-h5-font-style: normal;
  --bold-h6-font-family: "Fira Sans", Helvetica;
  --bold-h6-font-weight: 700;
  --bold-h6-font-size: 20px;
  --bold-h6-letter-spacing: 0px;
  --bold-h6-line-height: 120.00000476837158%;
  --bold-h6-font-style: normal;
  --bold-h7-font-family: "Fira Sans", Helvetica;
  --bold-h7-font-weight: 700;
  --bold-h7-font-size: 18px;
  --bold-h7-letter-spacing: 0px;
  --bold-h7-line-height: 120.00000476837158%;
  --bold-h7-font-style: normal;
  --bold-h8-font-family: "Fira Sans", Helvetica;
  --bold-h8-font-weight: 700;
  --bold-h8-font-size: 16px;
  --bold-h8-letter-spacing: 0px;
  --bold-h8-line-height: 120.00000476837158%;
  --bold-h8-font-style: normal;
  --variable-collection-acento: rgba(35, 103, 43, 1);
  --variable-collection-hover: rgba(21, 61, 27, 1);
  --variable-collection-clicked: rgba(136, 205, 132, 1);
  --variable-collection-color-texto: rgba(240, 240, 240, 1);
  --variable-collection-gris-claro: rgba(204, 204, 204, 1);
  --variable-collection-gris-medio-claro: rgba(112, 112, 112, 1);
  --variable-collection-gris-medio: rgba(65, 65, 65, 1);
  --variable-collection-gris-medio-oscuro: rgba(38, 38, 38, 1);
  --variable-collection-gris-oscuro: rgba(35, 35, 35, 1);
  --variable-collection-gris-oscuro-extra: rgba(30, 30, 30, 1);
  --variable-collection-gris-medio-oscuro-duplicate: rgba(53, 53, 53, 1);
  --variable-collection-gris-claro-duplicate: rgba(204, 204, 204, 1);
  --variable-collection-clicked-duplicate: rgba(136, 205, 132, 1);
  --variable-collection-gris-medio-claro-duplicate: rgba(101, 101, 101, 1);
  --variable-collection-acento-duplicate: rgba(34, 120, 44, 1);
  --variable-collection-gris-medio-duplicate: rgba(80, 80, 80, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-variable-collection-mode="verde">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-variable-collection-mode="verde"] {
  --variable-collection-acento: rgba(35, 103, 43, 1);
  --variable-collection-hover: rgba(21, 61, 27, 1);
  --variable-collection-clicked: rgba(136, 205, 132, 1);
  --variable-collection-gris-medio-oscuro: rgba(38, 38, 38, 1);
  --variable-collection-clicked-duplicate: rgba(136, 205, 132, 1);
  --variable-collection-acento-duplicate: rgba(34, 120, 44, 1);
}

[data-variable-collection-mode="azul"] {
  --variable-collection-acento: rgba(0, 113, 168, 1);
  --variable-collection-hover: rgba(0, 62, 92, 1);
  --variable-collection-clicked: rgba(141, 217, 255, 1);
  --variable-collection-gris-medio-oscuro: rgba(40, 40, 40, 1);
  --variable-collection-clicked-duplicate: rgba(141, 217, 255, 1);
  --variable-collection-acento-duplicate: rgba(0, 113, 168, 1);
}
:root {
  --thin-h1-font-family: "Fira Sans", Helvetica;
  --thin-h1-font-weight: 100;
  --thin-h1-font-size: 36px;
  --thin-h1-letter-spacing: 0px;
  --thin-h1-line-height: 120.00000476837158%;
  --thin-h1-font-style: normal;
  --thin-h2-font-family: "Fira Sans", Helvetica;
  --thin-h2-font-weight: 100;
  --thin-h2-font-size: 32px;
  --thin-h2-letter-spacing: 0px;
  --thin-h2-line-height: 120.00000476837158%;
  --thin-h2-font-style: normal;
  --thin-h3-font-family: "Fira Sans", Helvetica;
  --thin-h3-font-weight: 100;
  --thin-h3-font-size: 29px;
  --thin-h3-letter-spacing: 0px;
  --thin-h3-line-height: 120.00000476837158%;
  --thin-h3-font-style: normal;
  --thin-h4-font-family: "Fira Sans", Helvetica;
  --thin-h4-font-weight: 100;
  --thin-h4-font-size: 26px;
  --thin-h4-letter-spacing: 0px;
  --thin-h4-line-height: 120.00000476837158%;
  --thin-h4-font-style: normal;
  --thin-h5-font-family: "Fira Sans", Helvetica;
  --thin-h5-font-weight: 100;
  --thin-h5-font-size: 23px;
  --thin-h5-letter-spacing: 0px;
  --thin-h5-line-height: 120.00000476837158%;
  --thin-h5-font-style: normal;
  --thin-h6-font-family: "Fira Sans", Helvetica;
  --thin-h6-font-weight: 100;
  --thin-h6-font-size: 20px;
  --thin-h6-letter-spacing: 0px;
  --thin-h6-line-height: 120.00000476837158%;
  --thin-h6-font-style: normal;
  --thin-h7-font-family: "Fira Sans", Helvetica;
  --thin-h7-font-weight: 100;
  --thin-h7-font-size: 18px;
  --thin-h7-letter-spacing: 0px;
  --thin-h7-line-height: 120.00000476837158%;
  --thin-h7-font-style: normal;
  --thin-h8-font-family: "Fira Sans", Helvetica;
  --thin-h8-font-weight: 100;
  --thin-h8-font-size: 16px;
  --thin-h8-letter-spacing: 0px;
  --thin-h8-line-height: 120.00000476837158%;
  --thin-h8-font-style: normal;
  --extra-light-h1-font-family: "Fira Sans", Helvetica;
  --extra-light-h1-font-weight: 200;
  --extra-light-h1-font-size: 36px;
  --extra-light-h1-letter-spacing: 0px;
  --extra-light-h1-line-height: 120.00000476837158%;
  --extra-light-h1-font-style: normal;
  --extra-light-h2-font-family: "Fira Sans", Helvetica;
  --extra-light-h2-font-weight: 200;
  --extra-light-h2-font-size: 32px;
  --extra-light-h2-letter-spacing: 0px;
  --extra-light-h2-line-height: 120.00000476837158%;
  --extra-light-h2-font-style: normal;
  --extra-light-h3-font-family: "Fira Sans", Helvetica;
  --extra-light-h3-font-weight: 200;
  --extra-light-h3-font-size: 29px;
  --extra-light-h3-letter-spacing: 0px;
  --extra-light-h3-line-height: 120.00000476837158%;
  --extra-light-h3-font-style: normal;
  --extra-light-h4-font-family: "Fira Sans", Helvetica;
  --extra-light-h4-font-weight: 200;
  --extra-light-h4-font-size: 26px;
  --extra-light-h4-letter-spacing: 0px;
  --extra-light-h4-line-height: 120.00000476837158%;
  --extra-light-h4-font-style: normal;
  --extra-light-h5-font-family: "Fira Sans", Helvetica;
  --extra-light-h5-font-weight: 200;
  --extra-light-h5-font-size: 23px;
  --extra-light-h5-letter-spacing: 0px;
  --extra-light-h5-line-height: 120.00000476837158%;
  --extra-light-h5-font-style: normal;
  --extra-light-h6-font-family: "Fira Sans", Helvetica;
  --extra-light-h6-font-weight: 200;
  --extra-light-h6-font-size: 20px;
  --extra-light-h6-letter-spacing: 0px;
  --extra-light-h6-line-height: 120.00000476837158%;
  --extra-light-h6-font-style: normal;
  --extra-light-h8-font-family: "Fira Sans", Helvetica;
  --extra-light-h8-font-weight: 200;
  --extra-light-h8-font-size: 16px;
  --extra-light-h8-letter-spacing: 0px;
  --extra-light-h8-line-height: 120.00000476837158%;
  --extra-light-h8-font-style: normal;
  --light-h1-font-family: "Fira Sans", Helvetica;
  --light-h1-font-weight: 300;
  --light-h1-font-size: 36px;
  --light-h1-letter-spacing: 0px;
  --light-h1-line-height: 120.00000476837158%;
  --light-h1-font-style: normal;
  --light-h2-font-family: "Fira Sans", Helvetica;
  --light-h2-font-weight: 300;
  --light-h2-font-size: 32px;
  --light-h2-letter-spacing: 0px;
  --light-h2-line-height: 120.00000476837158%;
  --light-h2-font-style: normal;
  --light-h3-font-family: "Fira Sans", Helvetica;
  --light-h3-font-weight: 300;
  --light-h3-font-size: 29px;
  --light-h3-letter-spacing: 0px;
  --light-h3-line-height: 120.00000476837158%;
  --light-h3-font-style: normal;
  --light-h4-font-family: "Fira Sans", Helvetica;
  --light-h4-font-weight: 300;
  --light-h4-font-size: 26px;
  --light-h4-letter-spacing: 0px;
  --light-h4-line-height: 120.00000476837158%;
  --light-h4-font-style: normal;
  --light-h5-font-family: "Fira Sans", Helvetica;
  --light-h5-font-weight: 300;
  --light-h5-font-size: 23px;
  --light-h5-letter-spacing: 0px;
  --light-h5-line-height: 120.00000476837158%;
  --light-h5-font-style: normal;
  --light-h6-font-family: "Fira Sans", Helvetica;
  --light-h6-font-weight: 300;
  --light-h6-font-size: 20px;
  --light-h6-letter-spacing: 0px;
  --light-h6-line-height: 120.00000476837158%;
  --light-h6-font-style: normal;
  --light-h7-font-family: "Fira Sans", Helvetica;
  --light-h7-font-weight: 300;
  --light-h7-font-size: 18px;
  --light-h7-letter-spacing: 0px;
  --light-h7-line-height: 120.00000476837158%;
  --light-h7-font-style: normal;
  --light-h8-font-family: "Fira Sans", Helvetica;
  --light-h8-font-weight: 300;
  --light-h8-font-size: 16px;
  --light-h8-letter-spacing: 0px;
  --light-h8-line-height: 120.00000476837158%;
  --light-h8-font-style: normal;
  --regular-h1-font-family: "Fira Sans", Helvetica;
  --regular-h1-font-weight: 400;
  --regular-h1-font-size: 36px;
  --regular-h1-letter-spacing: 0px;
  --regular-h1-line-height: 120.00000476837158%;
  --regular-h1-font-style: normal;
  --regular-h2-font-family: "Fira Sans", Helvetica;
  --regular-h2-font-weight: 400;
  --regular-h2-font-size: 32px;
  --regular-h2-letter-spacing: 0px;
  --regular-h2-line-height: 120.00000476837158%;
  --regular-h2-font-style: normal;
  --regular-h3-font-family: "Fira Sans", Helvetica;
  --regular-h3-font-weight: 400;
  --regular-h3-font-size: 29px;
  --regular-h3-letter-spacing: 0px;
  --regular-h3-line-height: 120.00000476837158%;
  --regular-h3-font-style: normal;
  --regular-h4-font-family: "Fira Sans", Helvetica;
  --regular-h4-font-weight: 400;
  --regular-h4-font-size: 26px;
  --regular-h4-letter-spacing: 0px;
  --regular-h4-line-height: 120.00000476837158%;
  --regular-h4-font-style: normal;
  --regular-h5-font-family: "Fira Sans", Helvetica;
  --regular-h5-font-weight: 400;
  --regular-h5-font-size: 23px;
  --regular-h5-letter-spacing: 0px;
  --regular-h5-line-height: 120.00000476837158%;
  --regular-h5-font-style: normal;
  --regular-h6-font-family: "Fira Sans", Helvetica;
  --regular-h6-font-weight: 400;
  --regular-h6-font-size: 20px;
  --regular-h6-letter-spacing: 0px;
  --regular-h6-line-height: 120.00000476837158%;
  --regular-h6-font-style: normal;
  --regular-h7-font-family: "Fira Sans", Helvetica;
  --regular-h7-font-weight: 400;
  --regular-h7-font-size: 18px;
  --regular-h7-letter-spacing: 0px;
  --regular-h7-line-height: 120.00000476837158%;
  --regular-h7-font-style: normal;
  --regular-h8-font-family: "Fira Sans", Helvetica;
  --regular-h8-font-weight: 400;
  --regular-h8-font-size: 16px;
  --regular-h8-letter-spacing: 0px;
  --regular-h8-line-height: 120.00000476837158%;
  --regular-h8-font-style: normal;
  --medium-h1-font-family: "Fira Sans", Helvetica;
  --medium-h1-font-weight: 500;
  --medium-h1-font-size: 36px;
  --medium-h1-letter-spacing: 0px;
  --medium-h1-line-height: 120.00000476837158%;
  --medium-h1-font-style: normal;
  --medium-h2-font-family: "Fira Sans", Helvetica;
  --medium-h2-font-weight: 500;
  --medium-h2-font-size: 32px;
  --medium-h2-letter-spacing: 0px;
  --medium-h2-line-height: 120.00000476837158%;
  --medium-h2-font-style: normal;
  --medium-h3-font-family: "Fira Sans", Helvetica;
  --medium-h3-font-weight: 500;
  --medium-h3-font-size: 29px;
  --medium-h3-letter-spacing: 0px;
  --medium-h3-line-height: 120.00000476837158%;
  --medium-h3-font-style: normal;
  --medium-h4-font-family: "Fira Sans", Helvetica;
  --medium-h4-font-weight: 500;
  --medium-h4-font-size: 26px;
  --medium-h4-letter-spacing: 0px;
  --medium-h4-line-height: 120.00000476837158%;
  --medium-h4-font-style: normal;
  --medium-h5-font-family: "Fira Sans", Helvetica;
  --medium-h5-font-weight: 500;
  --medium-h5-font-size: 23px;
  --medium-h5-letter-spacing: 0px;
  --medium-h5-line-height: 120.00000476837158%;
  --medium-h5-font-style: normal;
  --medium-h6-font-family: "Fira Sans", Helvetica;
  --medium-h6-font-weight: 500;
  --medium-h6-font-size: 20px;
  --medium-h6-letter-spacing: 0px;
  --medium-h6-line-height: 120.00000476837158%;
  --medium-h6-font-style: normal;
  --medium-h7-font-family: "Fira Sans", Helvetica;
  --medium-h7-font-weight: 500;
  --medium-h7-font-size: 18px;
  --medium-h7-letter-spacing: 0px;
  --medium-h7-line-height: 120.00000476837158%;
  --medium-h7-font-style: normal;
  --medium-h8-font-family: "Fira Sans", Helvetica;
  --medium-h8-font-weight: 500;
  --medium-h8-font-size: 16px;
  --medium-h8-letter-spacing: 0px;
  --medium-h8-line-height: 120.00000476837158%;
  --medium-h8-font-style: normal;
  --semibold-h1-font-family: "Fira Sans", Helvetica;
  --semibold-h1-font-weight: 600;
  --semibold-h1-font-size: 36px;
  --semibold-h1-letter-spacing: 0px;
  --semibold-h1-line-height: 120.00000476837158%;
  --semibold-h1-font-style: normal;
  --semibold-h2-font-family: "Fira Sans", Helvetica;
  --semibold-h2-font-weight: 600;
  --semibold-h2-font-size: 32px;
  --semibold-h2-letter-spacing: 0px;
  --semibold-h2-line-height: 120.00000476837158%;
  --semibold-h2-font-style: normal;
  --semibold-h3-font-family: "Fira Sans", Helvetica;
  --semibold-h3-font-weight: 600;
  --semibold-h3-font-size: 29px;
  --semibold-h3-letter-spacing: 0px;
  --semibold-h3-line-height: 120.00000476837158%;
  --semibold-h3-font-style: normal;
  --semibold-h4-font-family: "Fira Sans", Helvetica;
  --semibold-h4-font-weight: 600;
  --semibold-h4-font-size: 26px;
  --semibold-h4-letter-spacing: 0px;
  --semibold-h4-line-height: 120.00000476837158%;
  --semibold-h4-font-style: normal;
  --semibold-h5-font-family: "Fira Sans", Helvetica;
  --semibold-h5-font-weight: 600;
  --semibold-h5-font-size: 23px;
  --semibold-h5-letter-spacing: 0px;
  --semibold-h5-line-height: 120.00000476837158%;
  --semibold-h5-font-style: normal;
  --semibold-h6-font-family: "Fira Sans", Helvetica;
  --semibold-h6-font-weight: 600;
  --semibold-h6-font-size: 20px;
  --semibold-h6-letter-spacing: 0px;
  --semibold-h6-line-height: 120.00000476837158%;
  --semibold-h6-font-style: normal;
  --semibold-h7-font-family: "Fira Sans", Helvetica;
  --semibold-h7-font-weight: 600;
  --semibold-h7-font-size: 18px;
  --semibold-h7-letter-spacing: 0px;
  --semibold-h7-line-height: 120.00000476837158%;
  --semibold-h7-font-style: normal;
  --semibold-h8-font-family: "Fira Sans", Helvetica;
  --semibold-h8-font-weight: 600;
  --semibold-h8-font-size: 16px;
  --semibold-h8-letter-spacing: 0px;
  --semibold-h8-line-height: 120.00000476837158%;
  --semibold-h8-font-style: normal;
  --bold-h1-font-family: "Fira Sans", Helvetica;
  --bold-h1-font-weight: 700;
  --bold-h1-font-size: 36px;
  --bold-h1-letter-spacing: 0px;
  --bold-h1-line-height: 120.00000476837158%;
  --bold-h1-font-style: normal;
  --bold-h2-font-family: "Fira Sans", Helvetica;
  --bold-h2-font-weight: 700;
  --bold-h2-font-size: 32px;
  --bold-h2-letter-spacing: 0px;
  --bold-h2-line-height: 120.00000476837158%;
  --bold-h2-font-style: normal;
  --bold-h3-font-family: "Fira Sans", Helvetica;
  --bold-h3-font-weight: 700;
  --bold-h3-font-size: 29px;
  --bold-h3-letter-spacing: 0px;
  --bold-h3-line-height: 120.00000476837158%;
  --bold-h3-font-style: normal;
  --bold-h4-font-family: "Fira Sans", Helvetica;
  --bold-h4-font-weight: 700;
  --bold-h4-font-size: 26px;
  --bold-h4-letter-spacing: 0px;
  --bold-h4-line-height: 120.00000476837158%;
  --bold-h4-font-style: normal;
  --bold-h5-font-family: "Fira Sans", Helvetica;
  --bold-h5-font-weight: 700;
  --bold-h5-font-size: 23px;
  --bold-h5-letter-spacing: 0px;
  --bold-h5-line-height: 120.00000476837158%;
  --bold-h5-font-style: normal;
  --bold-h6-font-family: "Fira Sans", Helvetica;
  --bold-h6-font-weight: 700;
  --bold-h6-font-size: 20px;
  --bold-h6-letter-spacing: 0px;
  --bold-h6-line-height: 120.00000476837158%;
  --bold-h6-font-style: normal;
  --bold-h7-font-family: "Fira Sans", Helvetica;
  --bold-h7-font-weight: 700;
  --bold-h7-font-size: 18px;
  --bold-h7-letter-spacing: 0px;
  --bold-h7-line-height: 120.00000476837158%;
  --bold-h7-font-style: normal;
  --bold-h8-font-family: "Fira Sans", Helvetica;
  --bold-h8-font-weight: 700;
  --bold-h8-font-size: 16px;
  --bold-h8-letter-spacing: 0px;
  --bold-h8-line-height: 120.00000476837158%;
  --bold-h8-font-style: normal;
  --variable-collection-acento: rgba(35, 103, 43, 1);
  --variable-collection-hover: rgba(21, 61, 27, 1);
  --variable-collection-clicked: rgba(136, 205, 132, 1);
  --variable-collection-color-texto: rgba(240, 240, 240, 1);
  --variable-collection-gris-claro: rgba(204, 204, 204, 1);
  --variable-collection-gris-medio-claro: rgba(112, 112, 112, 1);
  --variable-collection-gris-medio: rgba(65, 65, 65, 1);
  --variable-collection-gris-medio-oscuro: rgba(38, 38, 38, 1);
  --variable-collection-gris-oscuro: rgba(35, 35, 35, 1);
  --variable-collection-gris-oscuro-extra: rgba(30, 30, 30, 1);
  --variable-collection-gris-medio-oscuro-duplicate: rgba(53, 53, 53, 1);
  --variable-collection-gris-claro-duplicate: rgba(204, 204, 204, 1);
  --variable-collection-acento-duplicate: rgba(34, 120, 44, 1);
  --variable-collection-gris-medio-claro-duplicate: rgba(101, 101, 101, 1);
  --variable-collection-gris-medio-duplicate: rgba(80, 80, 80, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-variable-collection-mode="verde">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-variable-collection-mode="verde"] {
  --variable-collection-acento: rgba(35, 103, 43, 1);
  --variable-collection-hover: rgba(21, 61, 27, 1);
  --variable-collection-clicked: rgba(136, 205, 132, 1);
  --variable-collection-gris-medio-oscuro: rgba(38, 38, 38, 1);
  --variable-collection-acento-duplicate: rgba(34, 120, 44, 1);
}

[data-variable-collection-mode="azul"] {
  --variable-collection-acento: rgba(0, 113, 168, 1);
  --variable-collection-hover: rgba(0, 62, 92, 1);
  --variable-collection-clicked: rgba(141, 217, 255, 1);
  --variable-collection-gris-medio-oscuro: rgba(40, 40, 40, 1);
  --variable-collection-acento-duplicate: rgba(0, 113, 168, 1);
}
